<div>
  <h4>Online Settings</h4>
      <mat-slide-toggle id="notes" [color]="'accent'">Save Notes Publically</mat-slide-toggle>
      <!-- <br>
      <mat-slide-toggle id="categories" [color]="'accent'">Save Custom Categories</mat-slide-toggle>

  <h4>Local Settings</h4>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          The custom categories for notes
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Food</p>
      <p>Movie</p>
  </mat-expansion-panel> -->
</div>