<div fxLayoutAlign="center center" fxFlexFill class="container">
    <div>
        <mat-card-header>
            <h1>Keeping notes has<br fxHide fxShow.gt-sm> never been easier</h1>
        </mat-card-header>
        <mat-card-content>
            <p>Create, Edit, Delete, and Search for your notes.<br fxHide fxShow.gt-sm> With an intuitive design made to be easy!</p>
            <button mat-raised-button color="primary" (click)="createAndNavigateNotes()">Get Started</button>
        </mat-card-content>
    </div>
</div>