:host {
    height: 100%;
}

.example-spacer {
    flex: 1 1 auto;
}

.nav-list {
    margin-right: 12px;
    margin-left: 12px;
}

#nav-icon {
    margin-right: 12px;
}

.sticky-options {
    position: sticky;
    bottom: 0;
    width: 95%;
    margin: 0 auto;
    z-index: 4;

    button {
        border-radius: 8px;
        width: 48%;
    }
}