<div fxLayout="column" fxFlex="grow" fxFlexFill>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button fxHide fxShow.lt-md mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Notes App</span>
        <button mat-button routerLink="/" fxShow fxHide.lt-md>Home</button>
        <button mat-button routerLink="/notes" fxShow fxHide.lt-md>Notes</button>
        <span class="example-spacer"></span>
        
        <button mat-icon-button fxHide fxShow.lt-md 
          (click)="createAndNavigateNotes()">
          <mat-icon>note_add</mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        
      </mat-toolbar-row>
      <mat-toolbar-row *ngIf="notesActionBar" fxHide.lt-md>
        <button mat-button fxShow fxHide.lt-md (click)="createAndNavigateNotes()">
          Add Note
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container autosize fxFlex="100">
        <mat-sidenav #drawer>
          <mat-nav-list class="nav-list">
              <a mat-list-item routerLink="/" (click)="drawer.close()"><mat-icon id="nav-icon">home</mat-icon>Home</a>
              <a mat-list-item routerLink="/notes" (click)="drawer.close()"><mat-icon id="nav-icon">notes</mat-icon>Notes</a>
              <a mat-list-item (click)="drawer.close(); showInstall();"><mat-icon id="nav-icon">stay_current_portrait</mat-icon>Install</a>
          </mat-nav-list>
        </mat-sidenav>
      
        <mat-sidenav-content fxFlex="grow">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="themeService.setTheme()">
    <mat-icon *ngIf="themeService.isThemeDark()">check_box</mat-icon>
    <mat-icon *ngIf="!themeService.isThemeDark()">check_box_outline_blank</mat-icon>
    <span>Dark Mode</span>
  </button>
</mat-menu>