<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    
    <ng-container *ngIf="hasPassword">
        <label for="currentPassword">Current Password: <span style="color: deeppink;">*</span></label>
        <mat-form-field appearance="outline" [color]="'primary'">
            <input matInput placeholder="*********" id="currentPassword" formControlName="currentPassword" [type]="passwordVisible[0] ? 'text' : 'password'">  <!-- formControlName="email" -->
            <mat-icon matSuffix (click)="togglePassword(0)" style="cursor: pointer;">
                <span *ngIf="passwordVisible">visibility</span>
                <span *ngIf="!passwordVisible">visibility_off</span>
            </mat-icon>
            <mat-error *ngIf="currentPassword.errors?.required">Current Password is required</mat-error>
            <mat-error *ngIf="currentPassword.errors?.incorrect">Password is incorrect</mat-error>
        </mat-form-field>
    </ng-container>

    <label for="password">New Password: <span style="color: deeppink;">*</span></label>
    <mat-form-field appearance="outline">
        <input matInput id="password" placeholder="*********" formControlName="newPassword" [type]="passwordVisible[1] ? 'text' : 'password'">
        <mat-icon matSuffix (click)="togglePassword(1)" style="cursor: pointer;">
            <span *ngIf="passwordVisible">visibility</span>
            <span *ngIf="!passwordVisible">visibility_off</span>
        </mat-icon>
        <mat-error *ngIf="newPassword.errors?.minlength || newPassword.errors?.required">Password must be 8 characters or longer</mat-error>
        <mat-error *ngIf="newPassword.errors?.uppervalidate">Password must contain an uppercase letter</mat-error>
        <mat-error *ngIf="newPassword.errors?.lowervalidate">Password must contain a lowercase letter</mat-error>
        <mat-error *ngIf="newPassword.errors?.numbervalidate">Password must contains 1 number</mat-error>
        <mat-error *ngIf="newPassword.errors?.specialvalidate">Password must contains 1 special character</mat-error>
        <mat-error *ngIf="newPassword.errors?.same">Passwords cant be the same</mat-error>
    </mat-form-field>
    <p *ngIf="passwordForm.getError('notValid')" class="error" style="margin-bottom: 0;">Email has to be confirmed. Before changing your password</p>
    <button mat-raised-button color="accent" class="btn-expanded" [disabled]="passwordForm.getError('notValid')">Save</button>
</form>