@media only screen and (max-width: 959px) {
    mat-card {
        margin-top: 0!important;
    }
}

.social-buttons {
    text-align: center;
    p {
        margin-top: 6px;
        margin-bottom: 6px;
        line-height: 17px;
    }

    img {
        margin: 4px;
        background-color: whitesmoke;
        border-radius: 6px;
        padding: 3px;
        cursor: pointer;
        width: 36px;
        height: 36px;
    }
}

