#view-actions {
    cursor: pointer;
    line-height: 42px;

    &:last-child {
        margin-left: 16px;
        color: red;
    }
}

.dates-container {
    font-size: 0.75rem;
    line-height: 8px;
    font-style: italic;
    float: right;
    text-align: right;
    margin-top: 4px;
}

.note-view-card-container {
    mat-card {
        margin-bottom: 2%;

        &:nth-child(odd) {
            margin-left: 2%;
        }

        &:nth-child(even) {
            margin-right: 2%;
        }
    }
    margin-top: 2%;
}

@media (max-width: 959px) {
    .note-view-card-container {
        mat-card {
            margin-left: 4%!important;
            margin-right: 4%!important;
            margin-bottom: 4%!important;
        }
        margin-top: 4%!important;
    }
}

@media (min-width: 959px) {
    .no-notes-container {
        padding-top: 5%;
    }
}

@media (min-width: 1797px) {
    #body {
        min-height: auto!important;
    }
}