.close-icon {
    line-height: 17px;
    padding-left: 0px;
    margin-left: 0px;
    cursor: pointer;
}

mat-card {
    border-width: medium;
}

.sticky-options {
    position: sticky;
    bottom: 0;
    width: 95%;
    margin: 0 auto;
    z-index: 4;

    button {
        border-radius: 8px;
        width: 48%;
    }
}


@media (max-height: 590px) {
    .note-container {
        align-items: flex-start!important;
        height: 114%!important;
    }
}

@media (max-height: 667px) and (min-height: 591px) {
    .note-container {
        align-items: flex-start!important;
    }
}