.close-icon {
    line-height: 17px;
    padding-left: 0px;
    margin-left: 0px;
    cursor: pointer;
}

mat-card {
    border-width: medium;
}

.sticky-options {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
    width: 100%;

    button {
        border-radius: 0;
        width: 50%;
    }
}