:root {
    --primary-color: null;
    --primary-color-alpha: null;

    --accent-color: null;
    --accent-color-alpha: null;

    --warn-color: null;
    --warn-color-alpha: null;

    --border-color: null;
}