@use '@angular/material' as mat;
@mixin theme-color-grabber($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
  
    --primary-color: #{mat.get-color-from-palette($primary)};
    --primary-color-alpha: #{hexToRGBString(mat.get-color-from-palette($primary))};
  
    --accent-color: #{mat.get-color-from-palette($accent)};
    --accent-color-alpha: #{hexToRGBString(mat.get-color-from-palette($accent))};
  
    --warn-color: #{mat.get-color-from-palette($warn)};
    --warn-color-alpha: #{hexToRGBString(mat.get-color-from-palette($warn))};
  
    --border-color: rgba(#{hexToRGBString(mat.get-color-from-palette($primary))}, 0.9);
  }
  
  @function hexToRGBString($hexColor) {
    @return "#{round(red($hexColor))},#{round(green($hexColor))},#{round(blue($hexColor))}";
  }