<mat-card class="title">
    <mat-card-title>Settings</mat-card-title>
</mat-card>
<mat-card fxLayout="row" class="settings-card">
    <mat-card-content fxFlex="20" class="actions-side">
        <!-- General Action button -->
        <button mat-icon-button class="action" [disableRipple]="true">
            <mat-icon>person</mat-icon> 
            <span fxHide fxShow.gt-xs> General</span>
        </button>
        <mat-divider></mat-divider>
        <!-- Password Action Button -->
        <button mat-icon-button class="action selected" [disableRipple]="true">
            <mat-icon>password</mat-icon> 
            <span fxHide fxShow.gt-xs> Password</span>
        </button>
    </mat-card-content>
    <mat-card-content fxFlex="80">
        <mat-card class="forms-side form-group">
            <mat-card-content>
                <h3>Change Password</h3>
                <div style="margin-top: 1rem;">
                    <label for="email">Current Password: <span style="color: deeppink;">*</span></label>
                    <mat-form-field appearance="outline" [color]="'primary'">
                        <input matInput type="text" placeholder="*********" id="email" formControlName="email">
                        <mat-icon matSuffix style="cursor: pointer;">
                            <span>visibility</span>
                        </mat-icon>
                    </mat-form-field>

                    <label for="email">New Password: <span style="color: deeppink;">*</span></label>
                    <mat-form-field appearance="outline" [color]="'primary'">
                        <input matInput type="text" placeholder="*********" id="email" formControlName="email">
                        <mat-icon matSuffix style="cursor: pointer;">
                            <span>visibility</span>
                        </mat-icon>
                    </mat-form-field>

                    <button mat-raised-button color="accent" class="btn-expanded">Save</button>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>