.title {
    text-align: center;
    padding: 12px;
    border-radius: 0;
    border-bottom: 1px solid rgba(124, 124, 124, 0.25);
}

.settings-card {
    padding: 0;
    border-radius: 0;
}

.action {
    border-radius: 0;
    width: 100%;
}

.action:hover {
    background-color: rgba(var(--accent-color-alpha), 0.4);
}

.forms-side {
    box-shadow: none!important;
    border-left: 1px solid rgba(124, 124, 124, 0.25);
}

.selected {
    background-color: rgba(var(--primary-color-alpha), 0.8);
}