/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@include mat-core();

@import "app/shared/styles/themes";
@import "app/shared/styles/animations";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-group {
  mat-form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .mat-form-field-infix {
    border-top: 0.5em solid transparent;
  }

  .mat-card-header-text {
    width: 100%;
    text-align: center;
  }

  .mat-card-title {
    font-size: 1.5rem;
    line-height: 42px;
  }

  .text-danger {
    color: #d9534f;
  }

  .mat-form-field-subscript-wrapper {
    position: relative;
    font-size: 85%;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0px;
  }

  h3 {
    margin: 0;
  }
  .mat-input-element {
    caret-color: whitesmoke;
  }
}

.form-shadow {
  border: 4px var(--border-color) solid;
  border-width: thin;
}

.mat-card-title {
  margin-bottom: 0!important;
}

.btn-expanded {
  width: 100%;
}

mat-card-content p:last-child {
  margin-bottom: 0!important;
}