<button mat-raised-button color="accent" (click)="addState(states.CREATE)">Hello!</button>

<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-around center" style="margin-top: 5%; margin-bottom: 5%;">
      <mat-card fxFlex.lt-md="90" fxFlex="45" class="form-group form-shadow" *ngFor="let note of noteService.notes">
        <mat-card-header>
          <mat-card-title>{{note.title}}</mat-card-title>
          <mat-icon id="view-actions" (click)="addState(states.EDIT); addNoteId(note.id)">remove_red_eye</mat-icon>
          <mat-icon id="view-actions">delete</mat-icon>
        </mat-card-header>
        <mat-card-content>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <div class="dates-container">
            <p>Last Modified: {{noteService.getModifiedDate(note.modifiedDate)}}</p>
            <p>Created: {{note.creationDate}}</p>
          </div>
        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
    </mat-card>
    <mat-card fxFlex.lt-md="90" fxFlex="45" class="form-group form-shadow" *ngFor="let note of noteService.notes">
      <mat-card-header>
        <mat-card-title>{{note.title}}</mat-card-title>
        <mat-icon id="view-actions">remove_red_eye</mat-icon>
        <mat-icon id="view-actions">delete</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <div class="dates-container">
          <p>Last Modified: {{noteService.getModifiedDate(note.modifiedDate)}}</p>
          <p>Created: {{note.creationDate}}</p>
        </div>
      </mat-card-content>
      <!-- <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions> -->
  </mat-card>
    </div>
  </div>

<div #popcard class="pop-card" *ngIf="currentState !== states.DEFAULT">
    <app-add-card *ngIf="currentState === states.CREATE"></app-add-card>

    <app-edit-card *ngIf="currentState === states.EDIT"></app-edit-card>
</div>